# Airtable
AIRTABLE_API_KEY=AirtableAPIKey
AIRTABLE_BASE_ID=AirtableBaseID
AIRTABLE_USERS_TABLE=Users
AIRTABLE_RECIPES_TABLE=Recipes
AIRTABLE_INGREDIENTS_TABLE=Ingredients

# GROQ
GROQ_API_KEY=GROQ_API_KEY

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=3C2F0A28EE0B2740DF55BB090C7C81D2